# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: setup jdk
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'

      - name: setup gradle
        uses: gradle/actions/setup-gradle@v4

      - name: make gradle wrapper executable
        run: chmod +x ./gradlew

      - name: run tests
        run: ./gradlew test

      - name: build
        run: ./gradlew build

      - name: capture build artifacts
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/
